.header {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
}

.header-logo {
    max-width: 150px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
}
