  
  .logo-sb img {
    max-width: 100%; /* Faz a imagem se ajustar à largura da barra */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 20px; /* Espaço abaixo do logo */
  }
  
  .menu {
    margin-top: 20px; /* Espaço acima do menu */
  }
  
  .menu ul {
    list-style: none; /* Remove marcadores da lista */
    padding: 0; /* Remove preenchimento padrão */
  }
  
  .menu li {
    margin: 15px 0; /* Espaço entre os itens do menu */
  }
  
  .menu a {
    color: white; /* Cor do link */
    text-decoration: none; /* Remove sublinhado do link */
    font-size: 16px; /* Tamanho da fonte */
  }
  
  .menu a:hover {
    text-decoration: underline; /* Sublinha o link ao passar o mouse */
  }
  